.card-game {  
  display: flex;
  flex-direction: column;
  }
  
  .row-top {
    display:flex;
    flex-direction:row;
    min-height:10rem;
  }
  
  .controls {
    display:flex;
    margin: 1rem 18rem 0rem auto;
    background: #a77c4b;
    min-width: 18rem;
    height: 10rem;
    border-radius: 2rem;
    padding: 2.0rem;
    box-shadow: 0.125rem 0.125rem 1.375rem rgba(0,0,0,0.7); 
  }

  .controls-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto auto auto auto;
    align-self: center;
    font-size: 40px;
  }
  
  .controls-selection {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 2rem auto auto auto;
  }

  .controls-selection input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radiobutton {
    transition: 0.2s background;
    margin:0.5rem;
    padding: 1rem;
    border: 3px solid white;
    border-radius: 1rem;
  }
  .radiobutton:hover {
    background: #FCD0A1;
  }

  .controls-submit{
    background:rgb(222, 160, 55);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    display:absolute;
    align-items: center;
    margin: 2rem auto 2rem 2rem;
    padding:0.5rem;
    border-radius: 1rem;
    border: 3px solid white;
  }
  .controls-submit:hover{
    background:rgb(246, 181, 62);;
  }

  .details {
    display:flex;
    min-width: 40%;
    width: 45rem;
    height: 10rem;
    background: #343a40;
    margin: 1rem 2rem auto 3rem;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0.125rem 0.125rem 1.375rem rgba(0,0,0,0.7); 
  }

  .details-title {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    display:flex;
    align-items:baseline;
    margin: 0rem 0rem auto 1rem;
  }

  .details-text {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 4rem 0rem auto -8rem;
  }

  .card-container {
   display:flex;
   flex-wrap: wrap;
   float:left;
   margin-right: 40%;
   margin-left: 3rem;
   margin-top: 0rem;

  }

.card {
    background: #6f42c1;
    transition: 0.2s background;
    min-width: 10rem;
    height: 10rem;
    list-style: none;
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0.125rem 0.425rem 1.375rem rgba(0,0,0,0.7); 
    
  }
  
 .card--active {
    background: #20c997;
    min-width: 10rem;
    height: 10rem;
    list-style: none;
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0.125rem 0.425rem 1.375rem rgba(0,0,0,0.7); 
  }
  
  .card:hover{
    background: #9b70eb;
  }

  .card-title {
    color: #6f42c1;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6rem;
    font-size: 40px;
  }

  .card-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:150px;
  }

  